@import "../../assets/scss/style.scss";

body {
    background: $primary;
    height: 100vh;
}
//     .is_divider_vertical {
//         &:before {
//             border-left: 1px solid #919caf;
//             bottom: 1rem;
//             content: "";
//             display: block;
//             left: 50%;
//             position: absolute;
//             top: 1rem;
//             transform: translateX(-50%);
//         }
//         display: block;
//         flex: none;
//         width: auto;
//         height: auto;
//         padding: 2rem;
//         margin: 0;
//         position: relative;
//         border-top: none;
//         min-height: 5rem;
//         text-align: center;
//     }
// }

.section_devider {
    background: #dbe2ed;
    height: 1px;
}

.user_form {
    margin-top: 2rem;

    .forgot_password {
        text-align: end;
        color: $steel_grey;
        font-size: 0.8571rem;
    }
    .submit_btn {
        width: 100% !important;
        padding: calc(0.5em - 0.0625rem) 1em !important;
        background-color: #a368ff;
        border-color: transparent;
        box-shadow: none;
    }
}
